<a href="https://colab.research.google.com/github/jackiechen24/dropoutbias/blob/main/Chen_Jackie_DSCI_531_Project_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DSCI 531 Project Literature Review

Predicting student dropout rates using machine learning models is a proactive approach that educational institutions employ to identify at-risk students and implement timely interventions. However, these predictive models can inadvertently introduce biases, leading to unfair treatment of certain student groups. This project aims to analyze and enhance the fairness of student dropout prediction models by utilizing the "Predict Students' Dropout and Academic Success" dataset from the UC Irvine Machine Learning Repository: https://doi.org/10.24432/C5MC89, which has a strong imbalance towards one of the classes in the target column (i.e. Graduate accounts for 50\% of the records, compared to 32\% and 18\% for Dropout and Enrolled). Specifically, we will investigate potential biases related to demographic and socioeconomic factors and explore mitigation strategies to ensure equitable predictions. Such potential biases include algorithmic bias (e.g. age, gender, and racial biases) and measuring bias (e.g. uneven amounts of students in each undergraduate degree).
Research Questions:

1. Bias Identification: Does the dropout prediction model exhibit biases against specific demographic groups, such as gender, socioeconomic status, or first-generation college students?

2. Fairness Metrics Application: How can fairness metrics, such as demographic parity, equalized odds, and disparate impact, be applied to assess and quantify bias in dropout prediction models?

3. Bias Mitigation Techniques: What methods can be employed to mitigate identified biases in student dropout predictions while maintaining or improving model performance?

Methodology:

1. Data Preprocessing:

Dataset Overview: The dataset comprises information available at the time of student enrollment, including academic paths, demographic details, and socioeconomic factors, along with academic performance data at the end of the first and second semesters.

Data Cleaning: Address missing values, remove duplicates, and encode categorical variables appropriately.

Feature Selection: Identify and select relevant features that contribute significantly to predicting student dropout rates.

2. Model Training:

Algorithm Selection: Implement various machine learning models such as logistic regression, random forest/balanced random forest, XGBoost, and neural networks to predict student dropout. We may also try comparing their performance and record any differences in bias mitigation in these different algorithms.

Training and Validation: Split the data into training and testing sets (e.g. 70\% train, 30\% test) and employ k-fold cross-validation to ensure model robustness.

3. Fairness Analysis:

Metric Calculation: Compute fairness metrics, including demographic parity (ensuring equal positive prediction rates across groups), equalized odds (equalizing true positive and false positive rates across groups), and disparate impact (assessing the ratio of positive outcomes between groups).

Bias Detection: Analyze metric results to identify any significant disparities in model predictions across different demographic/nationality groups (which include Portuguese, German, Angolan, Guinean, Mexican, and Cuban in our dataset).

4. Bias Mitigation:

Techniques Implementation: Apply methods such as reweighting data samples, adversarial debiasing, and fairness-aware learning algorithms to reduce identified biases.

Evaluation: Assess the effectiveness of mitigation strategies by comparing pre- and post-mitigation fairness metrics and model performance indicators.

Evaluation Plan:

Performance Metrics: Evaluate models using accuracy, precision, recall, and F1-score to measure predictive performance.

Fairness Assessment: Utilize the aforementioned fairness metrics to quantify bias levels before and after applying mitigation techniques.

Trade-off Analysis: Examine the balance between model fairness and predictive accuracy to ensure that bias reduction does not significantly compromise performance.

Dataset Creation and Usage:

Creation: The dataset was compiled from a higher education institution, integrating data from several disjoint databases related to students enrolled in different undergraduate degree programs such as agronomy, design, education, nursing, journalism, management, social service, and technologies.

Previous Applications: Prior studies have used this dataset to develop classification models aimed at predicting student dropout and academic success. For example, researchers have explored the impact of different variables on dropout rates and academic performance, implementing machine learning techniques to identify key predictors.

Related Work:

Bias in Predictive Models: Previous research has highlighted concerns regarding biases in educational predictive models. A study by Cornell University examined the implications of including or excluding protected attributes (e.g. gender, race) in dropout prediction models, finding that removing such attributes did not necessarily enhance fairness or accuracy. A different study stated that accuracy improvements had to be carefully contrasted with potential algorithmic discrimination, and they obtained parity in GFPR (Generalized False Positive Rate) while preserving calibration to prevent the probability scores from needing group-dependent interpretation. This study found that after bias mitigation, GFPR ratio in both dropout and dropout or underperformance predictions has been changed to a perfect value close to 1 across most groups (which are defined by nationality, gender, high school type and location, and admission grade) and caused better parities in other metrics (AUC (Area Under the Curve) and GFNR (Generalized False Negative Rate)) along most of the groups compared to the non-mitigated bias model. Another study noted that the binarization of sensitive attributes for the mitigation processes may not reduce fairness gaps for each group and so unfairness should be evaluated at the subgroup levels. A different study found that slicing analysis can be used to improve model fairness without necessarily sacrificing performance. This study noted that they did not find evidence of a strict tradeoff between performance and fairness.

Fairness and Uncertainty: Another study investigated the integration of fairness and uncertainty in student dropout predictions, emphasizing the need for models that not only predict outcomes accurately but also provide uncertainty estimates to inform decision-making.

Cross-Institutional Transferability: Research has also delved into the transferability of predictive models across institutions, assessing how models trained in one context perform in another and the fairness implications therein.

Novel Contribution: While existing studies have addressed bias in student dropout prediction models, this project distinguishes itself by:

Dataset-Specific Analysis: Conducting a comprehensive fairness analysis using the specified UCI dataset, which encompasses a diverse student population across various disciplines.

Mitigation Strategy Evaluation: Systematically implementing and evaluating multiple bias mitigation techniques to determine their effectiveness in enhancing model fairness without compromising accuracy.

Holistic Approach: Combining traditional performance metrics with fairness assessments to provide a balanced evaluation of different predictive models in educational settings.
# DSCI 531 Project Code
## Installations and Importing the Dataset
The "Predict Students' Dropout and Academic Success" dataset from the UC Irvine Machine Learning Repository (https://doi.org/10.24432/C5MC89) provided information on how to install and import this dataset.

In [ ]:
!pip install ucimlrepo  # Install the ucimlrepo package

# Import dataset into code
from ucimlrepo import fetch_ucirepo

# fetch dataset
predict_students_dropout_and_academic_success = fetch_ucirepo(id=697)

# data (as pandas dataframes)
X = predict_students_dropout_and_academic_success.data.features
y = predict_students_dropout_and_academic_success.data.targets

# metadata
print(predict_students_dropout_and_academic_success.metadata)

# variable information
print(predict_students_dropout_and_academic_success.variables)

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.11/dist-packages (from ucimlrepo) (2025.1.31)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7
{'uci_id': 697, 'name': "Predict Students' Dropout and Academic Success", 'repository_url': 'https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success', 'data_url': 'https://archive.ics.uci.edu/static/public/697/data.csv', 'abstract': "A dataset created from a higher education institution (acquired from several disjoint databases) related to students enrolled in different undergraduate degrees, such as agronomy, design, education, nursing, journalism, management, social service, and technologies.\nThe dataset includes information known at the time of student enrollment (academic path, demographics, and social-economic factors) and the students' academic performance at the end of the first and second semesters. \nThe data is used to build classification models to predict students' dropout and academic sucess. The problem is formulated as a three category classification task, in which there is a strong imbalance towards one of the classes.", 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Tabular'], 'num_instances': 4424, 'num_features': 36, 'feature_types': ['Real', 'Categorical', 'Integer'], 'demographics': ['Marital Status', 'Education Level', 'Nationality', 'Occupation', 'Gender', 'Age'], 'target_col': ['Target'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2021, 'last_updated': 'Mon Feb 26 2024', 'dataset_doi': '10.24432/C5MC89', 'creators': ['Valentim Realinho', 'Mónica Vieira Martins', 'Jorge Machado', 'Luís Baptista'], 'intro_paper': {'ID': 99, 'type': 'NATIVE', 'title': "Early prediction of student's performance in higher education: a case study", 'authors': 'Mónica V. Martins, Daniel Tolledo, Jorge Machado, Luís M. T. Baptista, and Valentim Realinho', 'venue': 'Trends and Applications in Information Systems and Technologies', 'year': 2021, 'journal': 'Advances in Intelligent Systems and Computing series', 'DOI': 'http://www.doi.org/10.1007/978-3-030-72657-7_16', 'URL': 'http://www.worldcist.org/2021/', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': None, 'purpose': 'The dataset was created in a project that aims to contribute to the reduction of academic dropout and failure in higher education, by using machine learning techniques to identify students at risk at an early stage of their academic path, so that strategies to support them can be put into place. \n\nThe dataset includes information known at the time of student enrollment – academic path, demographics, and social-economic factors. \n\nThe problem is formulated as a three category classification task (dropout, enrolled, and graduate) at the end of the normal duration of the course. \n', 'funded_by': 'This dataset is supported by program SATDAP - Capacitação da Administração Pública under grant POCI-05-5762-FSE-000191, Portugal.', 'instances_represent': 'Each instance is a student', 'recommended_data_splits': 'The dataset was used, in our project, with a data split of 80% for training and 20% for test.', 'sensitive_data': None, 'preprocessing_description': 'We performed a rigorous data preprocessing to handle data from anomalies, unexplainable outliers, and missing values.', 'variable_info': None, 'citation': 'If you use this dataset in experiments for a scientific publication, please kindly cite our paper: \nM.V.Martins, D. Tolledo, J. Machado, L. M.T. Baptista, V.Realinho. (2021) "Early prediction of student’s performance in higher education: a case study" Trends and Applications in Information Systems and Technologies, vol.1, in Advances in Intelligent Systems and Computing series. Springer. DOI: 10.1007/978-3-030-72657-7_16'}}
                                              name     role         type  \
0                                   Marital Status  Feature      Integer
1                                 Application mode  Feature      Integer
2                                Application order  Feature      Integer
3                                           Course  Feature      Integer
4                       Daytime/evening attendance  Feature      Integer
5                           Previous qualification  Feature      Integer
6                   Previous qualification (grade)  Feature   Continuous
7                                      Nacionality  Feature      Integer
8                           Mother's qualification  Feature      Integer
9                           Father's qualification  Feature      Integer
10                             Mother's occupation  Feature      Integer
11                             Father's occupation  Feature      Integer
12                                 Admission grade  Feature   Continuous
13                                       Displaced  Feature      Integer
14                       Educational special needs  Feature      Integer
15                                          Debtor  Feature      Integer
16                         Tuition fees up to date  Feature      Integer
17                                          Gender  Feature      Integer
18                              Scholarship holder  Feature      Integer
19                               Age at enrollment  Feature      Integer
20                                   International  Feature      Integer
21             Curricular units 1st sem (credited)  Feature      Integer
22             Curricular units 1st sem (enrolled)  Feature      Integer
23          Curricular units 1st sem (evaluations)  Feature      Integer
24             Curricular units 1st sem (approved)  Feature      Integer
25                Curricular units 1st sem (grade)  Feature      Integer
26  Curricular units 1st sem (without evaluations)  Feature      Integer
27             Curricular units 2nd sem (credited)  Feature      Integer
28             Curricular units 2nd sem (enrolled)  Feature      Integer
29          Curricular units 2nd sem (evaluations)  Feature      Integer
30             Curricular units 2nd sem (approved)  Feature      Integer
31                Curricular units 2nd sem (grade)  Feature      Integer
32  Curricular units 2nd sem (without evaluations)  Feature      Integer
33                               Unemployment rate  Feature   Continuous
34                                  Inflation rate  Feature   Continuous
35                                             GDP  Feature   Continuous
36                                          Target   Target  Categorical

        demographic                                        description units  \
0    Marital Status  1 – single 2 – married 3 – widower 4 – divorce...  None
1              None  1 - 1st phase - general contingent 2 - Ordinan...  None
2              None  Application order (between 0 - first choice; a...  None
3              None  33 - Biofuel Production Technologies 171 - Ani...  None
4              None                            1 – daytime 0 - evening  None
5   Education Level  1 - Secondary education 2 - Higher education -...  None
6              None  Grade of previous qualification (between 0 and...  None
7       Nationality  1 - Portuguese; 2 - German; 6 - Spanish; 11 - ...  None
8   Education Level  1 - Secondary Education - 12th Year of Schooli...  None
9   Education Level  1 - Secondary Education - 12th Year of Schooli...  None
10       Occupation  0 - Student 1 - Representatives of the Legisla...  None
11       Occupation  0 - Student 1 - Representatives of the Legisla...  None
12             None                Admission grade (between 0 and 200)  None
13             None                                     1 – yes 0 – no  None
14             None                                     1 – yes 0 – no  None
15             None                                     1 – yes 0 – no  None
16             None                                     1 – yes 0 – no  None
17           Gender                                1 – male 0 – female  None
18             None                                     1 – yes 0 – no  None
19              Age                       Age of studend at enrollment  None
20             None                                     1 – yes 0 – no  None
21             None  Number of curricular units credited in the 1st...  None
22             None  Number of curricular units enrolled in the 1st...  None
23             None  Number of evaluations to curricular units in t...  None
24             None  Number of curricular units approved in the 1st...  None
25             None  Grade average in the 1st semester (between 0 a...  None
26             None  Number of curricular units without evalutions ...  None
27             None  Number of curricular units credited in the 2nd...  None
28             None  Number of curricular units enrolled in the 2nd...  None
29             None  Number of evaluations to curricular units in t...  None
30             None  Number of curricular units approved in the 2nd...  None
31             None  Grade average in the 2nd semester (between 0 a...  None
32             None  Number of curricular units without evalutions ...  None
33             None                              Unemployment rate (%)  None
34             None                                 Inflation rate (%)  None
35             None                                                GDP  None
36             None  Target. The problem is formulated as a three c...  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
31             no
32             no
33             no
34             no
35             no
36             no

In [ ]:
# viewing the first 5 and last 5 rows of the data
predict_students_dropout_and_academic_success

{'data': {'ids': None,
  'features':       Marital Status  Application mode  Application order  Course  \
  0                  1                17                  5     171
  1                  1                15                  1    9254
  2                  1                 1                  5    9070
  3                  1                17                  2    9773
  4                  2                39                  1    8014
  ...              ...               ...                ...     ...
  4419               1                 1                  6    9773
  4420               1                 1                  2    9773
  4421               1                 1                  1    9500
  4422               1                 1                  1    9147
  4423               1                10                  1    9773

        Daytime/evening attendance  Previous qualification  \
  0                              1                       1
  1                              1                       1
  2                              1                       1
  3                              1                       1
  4                              0                       1
  ...                          ...                     ...
  4419                           1                       1
  4420                           1                       1
  4421                           1                       1
  4422                           1                       1
  4423                           1                       1

        Previous qualification (grade)  Nacionality  Mother's qualification  \
  0                              122.0            1                      19
  1                              160.0            1                       1
  2                              122.0            1                      37
  3                              122.0            1                      38
  4                              100.0            1                      37
  ...                              ...          ...                     ...
  4419                           125.0            1                       1
  4420                           120.0          105                       1
  4421                           154.0            1                      37
  4422                           180.0            1                      37
  4423                           152.0           22                      38

        Father's qualification  ...  \
  0                         12  ...
  1                          3  ...
  2                         37  ...
  3                         37  ...
  4                         38  ...
  ...                      ...  ...
  4419                       1  ...
  4420                       1  ...
  4421                      37  ...
  4422                      37  ...
  4423                      37  ...

        Curricular units 1st sem (without evaluations)  \
  0                                                  0
  1                                                  0
  2                                                  0
  3                                                  0
  4                                                  0
  ...                                              ...
  4419                                               0
  4420                                               0
  4421                                               0
  4422                                               0
  4423                                               0

        Curricular units 2nd sem (credited)  \
  0                                       0
  1                                       0
  2                                       0
  3                                       0
  4                                       0
  ...                                   ...
  4419                                    0
  4420                                    0
  4421                                    0
  4422                                    0
  4423                                    0

        Curricular units 2nd sem (enrolled)  \
  0                                       0
  1                                       6
  2                                       6
  3                                       6
  4                                       6
  ...                                   ...
  4419                                    6
  4420                                    6
  4421                                    8
  4422                                    5
  4423                                    6

        Curricular units 2nd sem (evaluations)  \
  0                                          0
  1                                          6
  2                                          0
  3                                         10
  4                                          6
  ...                                      ...
  4419                                       8
  4420                                       6
  4421                                       9
  4422                                       6
  4423                                       6

        Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
  0                                       0                          0.000000
  1                                       6                         13.666667
  2                                       0                          0.000000
  3                                       5                         12.400000
  4                                       6                         13.000000
  ...                                   ...                               ...
  4419                                    5                         12.666667
  4420                                    2                         11.000000
  4421                                    1                         13.500000
  4422                                    5                         12.000000
  4423                                    6                         13.000000

        Curricular units 2nd sem (without evaluations)  Unemployment rate  \
  0                                                  0               10.8
  1                                                  0               13.9
  2                                                  0               10.8
  3                                                  0                9.4
  4                                                  0               13.9
  ...                                              ...                ...
  4419                                               0               15.5
  4420                                               0               11.1
  4421                                               0               13.9
  4422                                               0                9.4
  4423                                               0               12.7

        Inflation rate   GDP
  0                1.4  1.74
  1               -0.3  0.79
  2                1.4  1.74
  3               -0.8 -3.12
  4               -0.3  0.79
  ...              ...   ...
  4419             2.8 -4.06
  4420             0.6  2.02
  4421            -0.3  0.79
  4422            -0.8 -3.12
  4423             3.7 -1.70

  [4424 rows x 36 columns],
  'targets':         Target
  0      Dropout
  1     Graduate
  2      Dropout
  3     Graduate
  4     Graduate
  ...        ...
  4419  Graduate
  4420   Dropout
  4421   Dropout
  4422  Graduate
  4423  Graduate

  [4424 rows x 1 columns],
  'original':       Marital Status  Application mode  Application order  Course  \
  0                  1                17                  5     171
  1                  1                15                  1    9254
  2                  1                 1                  5    9070
  3                  1                17                  2    9773
  4                  2                39                  1    8014
  ...              ...               ...                ...     ...
  4419               1                 1                  6    9773
  4420               1                 1                  2    9773
  4421               1                 1                  1    9500
  4422               1                 1                  1    9147
  4423               1                10                  1    9773

        Daytime/evening attendance  Previous qualification  \
  0                              1                       1
  1                              1                       1
  2                              1                       1
  3                              1                       1
  4                              0                       1
  ...                          ...                     ...
  4419                           1                       1
  4420                           1                       1
  4421                           1                       1
  4422                           1                       1
  4423                           1                       1

        Previous qualification (grade)  Nacionality  Mother's qualification  \
  0                              122.0            1                      19
  1                              160.0            1                       1
  2                              122.0            1                      37
  3                              122.0            1                      38
  4                              100.0            1                      37
  ...                              ...          ...                     ...
  4419                           125.0            1                       1
  4420                           120.0          105                       1
  4421                           154.0            1                      37
  4422                           180.0            1                      37
  4423                           152.0           22                      38

        Father's qualification  ...  Curricular units 2nd sem (credited)  \
  0                         12  ...                                    0
  1                          3  ...                                    0
  2                         37  ...                                    0
  3                         37  ...                                    0
  4                         38  ...                                    0
  ...                      ...  ...                                  ...
  4419                       1  ...                                    0
  4420                       1  ...                                    0
  4421                      37  ...                                    0
  4422                      37  ...                                    0
  4423                      37  ...                                    0

        Curricular units 2nd sem (enrolled)  \
  0                                       0
  1                                       6
  2                                       6
  3                                       6
  4                                       6
  ...                                   ...
  4419                                    6
  4420                                    6
  4421                                    8
  4422                                    5
  4423                                    6

        Curricular units 2nd sem (evaluations)  \
  0                                          0
  1                                          6
  2                                          0
  3                                         10
  4                                          6
  ...                                      ...
  4419                                       8
  4420                                       6
  4421                                       9
  4422                                       6
  4423                                       6

        Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
  0                                       0                          0.000000
  1                                       6                         13.666667
  2                                       0                          0.000000
  3                                       5                         12.400000
  4                                       6                         13.000000
  ...                                   ...                               ...
  4419                                    5                         12.666667
  4420                                    2                         11.000000
  4421                                    1                         13.500000
  4422                                    5                         12.000000
  4423                                    6                         13.000000

        Curricular units 2nd sem (without evaluations)  Unemployment rate  \
  0                                                  0               10.8
  1                                                  0               13.9
  2                                                  0               10.8
  3                                                  0                9.4
  4                                                  0               13.9
  ...                                              ...                ...
  4419                                               0               15.5
  4420                                               0               11.1
  4421                                               0               13.9
  4422                                               0                9.4
  4423                                               0               12.7

        Inflation rate   GDP    Target
  0                1.4  1.74   Dropout
  1               -0.3  0.79  Graduate
  2                1.4  1.74   Dropout
  3               -0.8 -3.12  Graduate
  4               -0.3  0.79  Graduate
  ...              ...   ...       ...
  4419             2.8 -4.06  Graduate
  4420             0.6  2.02   Dropout
  4421            -0.3  0.79   Dropout
  4422            -0.8 -3.12  Graduate
  4423             3.7 -1.70  Graduate

  [4424 rows x 37 columns],
  'headers': Index(['Marital Status', 'Application mode', 'Application order', 'Course',
         'Daytime/evening attendance', 'Previous qualification',
         'Previous qualification (grade)', 'Nacionality',
         'Mother's qualification', 'Father's qualification',
         'Mother's occupation', 'Father's occupation', 'Admission grade',
         'Displaced', 'Educational special needs', 'Debtor',
         'Tuition fees up to date', 'Gender', 'Scholarship holder',
         'Age at enrollment', 'International',
         'Curricular units 1st sem (credited)',
         'Curricular units 1st sem (enrolled)',
         'Curricular units 1st sem (evaluations)',
         'Curricular units 1st sem (approved)',
         'Curricular units 1st sem (grade)',
         'Curricular units 1st sem (without evaluations)',
         'Curricular units 2nd sem (credited)',
         'Curricular units 2nd sem (enrolled)',
         'Curricular units 2nd sem (evaluations)',
         'Curricular units 2nd sem (approved)',
         'Curricular units 2nd sem (grade)',
         'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
         'Inflation rate', 'GDP', 'Target'],
        dtype='object')},
 'metadata': {'uci_id': 697,
  'name': "Predict Students' Dropout and Academic Success",
  'repository_url': 'https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success',
  'data_url': 'https://archive.ics.uci.edu/static/public/697/data.csv',
  'abstract': "A dataset created from a higher education institution (acquired from several disjoint databases) related to students enrolled in different undergraduate degrees, such as agronomy, design, education, nursing, journalism, management, social service, and technologies.\nThe dataset includes information known at the time of student enrollment (academic path, demographics, and social-economic factors) and the students' academic performance at the end of the first and second semesters. \nThe data is used to build classification models to predict students' dropout and academic sucess. The problem is formulated as a three category classification task, in which there is a strong imbalance towards one of the classes.",
  'area': 'Social Science',
  'tasks': ['Classification'],
  'characteristics': ['Tabular'],
  'num_instances': 4424,
  'num_features': 36,
  'feature_types': ['Real', 'Categorical', 'Integer'],
  'demographics': ['Marital Status',
   'Education Level',
   'Nationality',
   'Occupation',
   'Gender',
   'Age'],
  'target_col': ['Target'],
  'index_col': None,
  'has_missing_values': 'no',
  'missing_values_symbol': None,
  'year_of_dataset_creation': 2021,
  'last_updated': 'Mon Feb 26 2024',
  'dataset_doi': '10.24432/C5MC89',
  'creators': ['Valentim Realinho',
   'Mónica Vieira Martins',
   'Jorge Machado',
   'Luís Baptista'],
  'intro_paper': {'ID': 99,
   'type': 'NATIVE',
   'title': "Early prediction of student's performance in higher education: a case study",
   'authors': 'Mónica V. Martins, Daniel Tolledo, Jorge Machado, Luís M. T. Baptista, and Valentim Realinho',
   'venue': 'Trends and Applications in Information Systems and Technologies',
   'year': 2021,
   'journal': 'Advances in Intelligent Systems and Computing series',
   'DOI': 'http://www.doi.org/10.1007/978-3-030-72657-7_16',
   'URL': 'http://www.worldcist.org/2021/',
   'sha': None,
   'corpus': None,
   'arxiv': None,
   'mag': None,
   'acl': None,
   'pmid': None,
   'pmcid': None},
  'additional_info': {'summary': None,
   'purpose': 'The dataset was created in a project that aims to contribute to the reduction of academic dropout and failure in higher education, by using machine learning techniques to identify students at risk at an early stage of their academic path, so that strategies to support them can be put into place. \n\nThe dataset includes information known at the time of student enrollment – academic path, demographics, and social-economic factors. \n\nThe problem is formulated as a three category classification task (dropout, enrolled, and graduate) at the end of the normal duration of the course. \n',
   'funded_by': 'This dataset is supported by program SATDAP - Capacitação da Administração Pública under grant POCI-05-5762-FSE-000191, Portugal.',
   'instances_represent': 'Each instance is a student',
   'recommended_data_splits': 'The dataset was used, in our project, with a data split of 80% for training and 20% for test.',
   'sensitive_data': None,
   'preprocessing_description': 'We performed a rigorous data preprocessing to handle data from anomalies, unexplainable outliers, and missing values.',
   'variable_info': None,
   'citation': 'If you use this dataset in experiments for a scientific publication, please kindly cite our paper: \nM.V.Martins, D. Tolledo, J. Machado, L. M.T. Baptista, V.Realinho. (2021) "Early prediction of student’s performance in higher education: a case study" Trends and Applications in Information Systems and Technologies, vol.1, in Advances in Intelligent Systems and Computing series. Springer. DOI: 10.1007/978-3-030-72657-7_16'}},
 'variables':                                               name     role         type  \
 0                                   Marital Status  Feature      Integer
 1                                 Application mode  Feature      Integer
 2                                Application order  Feature      Integer
 3                                           Course  Feature      Integer

In [ ]:
X  # view the features dataframe

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,0,6,8,5,12.666667,0,15.5,2.8,-4.06
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,0,6,6,2,11.000000,0,11.1,0.6,2.02
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,0,8,9,1,13.500000,0,13.9,-0.3,0.79
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,0,5,6,5,12.000000,0,9.4,-0.8,-3.12
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,0,6,6,6,13.000000,0,12.7,3.7,-1.70

In [ ]:
X.isna().sum() # check for missing values

Marital Status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
dtype: int64

None of the columns appear to have any missing values.

In [ ]:
int(X.duplicated().sum()) # check for duplicates

0

There do not appear to be any duplicate values.

In [ ]:
y # view the target dataframe

        Target
0      Dropout
1     Graduate
2      Dropout
3     Graduate
4     Graduate
...        ...
4419  Graduate
4420   Dropout
4421   Dropout
4422  Graduate
4423  Graduate

[4424 rows x 1 columns]

In [ ]:
# another way to view/access the data
import pandas as pd
uci_data = pd.read_csv("data.csv", sep = ";")
uci_data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [ ]:
uci_data.isna().sum() # check for missing values

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [ ]:
sum(uci_data.duplicated()) # check for duplicated values

0

## Model Training
We implement various machine learning models such as logistic regression, random forest/balanced random forest, XGBoost, and neural networks to predict student dropout. We may also try comparing their performance and record any differences in bias mitigation in these different algorithms. We split the data into training and testing sets (e.g. 70\% train, 30\% test) and employ k-fold cross-validation to ensure model robustness.

In [ ]:
# split the data into train and test sets (https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)
from sklearn.model_selection import train_test_split
# 70% train, 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# employ k-fold cross-validation (https://www.geeksforgeeks.org/cross-validation-using-k-fold-with-scikit-learn/)
from sklearn.model_selection import KFold
kf = KFold(n_splits=10)

# implement logistic regression, random forest/balanced random forest, XGBoost, and neural networks models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.utils import to_categorical
from sklearn.metrics import classification_report, accuracy_score
import numpy as np

# create logistic regression model
log_model = LogisticRegression(random_state=42)
log_model.fit(X_train, y_train) # fit the model
# Make predictions and evaluate
log_y_pred = log_model.predict(X_test)

print("Logistic Regression Accuracy:", accuracy_score(y_test, log_y_pred))
print("Logistic Regression Classification Report:\n", classification_report(y_test, log_y_pred))

# create random forest model
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train) # fit the model
# Make predictions and evaluate
rf_y_pred = rf_model.predict(X_test)

print("Random Forest Accuracy:", accuracy_score(y_test, rf_y_pred))
print("Random Forest Classification Report:\n", classification_report(y_test, rf_y_pred))

# create balanced random forest model (https://medium.com/@fadleemt/balanced-random-forest-d5dc9c896bb4)
brf_model = BalancedRandomForestClassifier(random_state=42)
brf_model.fit(X_train, y_train) # fit the model
# Make predictions and evaluate
brf_y_pred = brf_model.predict(X_test)

print("Balanced Random Forest Accuracy:", accuracy_score(y_test, brf_y_pred))
print("Balanced Random Forest Classification Report:\n", classification_report(y_test, brf_y_pred))

# initialize LabelEncoder (XGBoost requires target variable to be numerical)
le = LabelEncoder() # https://xgboosting.com/label-encode-categorical-target-variable-for-xgboost/
# Fit and transform the target variable
y_train_encoded = le.fit_transform(y_train)
# create XGBoost model (https://www.projectpro.io/recipes/use-xgboost-classifier-and-regressor-in-python)
xgb_model = xgb.XGBClassifier(random_state=42)
xgb_model.fit(X_train, y_train_encoded) # fit the model
# make predictions and transform labels back to original encoding to evaluate
xgb_y_pred = xgb_model.predict(X_test)
print("XGBoost Accuracy:", accuracy_score(y_test, le.inverse_transform(xgb_y_pred)))
print("XGBoost Classification Report:\n", classification_report(y_test, le.inverse_transform(xgb_y_pred)))

# create neural network model (https://machinelearningmastery.com/how-to-calculate-precision-recall-f1-and-more-for-deep-learning-models/)
nn_model = Sequential()
nn_model.add(Dense(100, input_shape=(36,), activation='relu'))
nn_model.add(Dense(3, activation='softmax'))
# compile model
nn_model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit and transform target variable
y_test_encoded = le.fit_transform(y_test)
# convert integer labels to one-hot encoded vectors (https://www.tensorflow.org/api_docs/python/tf/keras/utils/to_categorical)
y_train_vec = to_categorical(y_train_encoded, num_classes = 3)
y_test_vec = to_categorical(y_test_encoded, num_classes = 3)
history = nn_model.fit(X_train, y_train_vec, validation_data=(X_test, y_test_vec), epochs=300, verbose=0) # fit the model
# evaluate the model
_, train_accuracy = nn_model.evaluate(X_train, y_train_vec, verbose=0)
_, test_accuracy = nn_model.evaluate(X_test, y_test_vec, verbose=0)
print('Neural Network Training Data Accuracy: %.3f, Neural Network Test Accuracy: %.3f' % (train_accuracy, test_accuracy))
# predict probabilities for test set
nn_yhat_probs = nn_model.predict(X_test, verbose=0)
# predict classes for test set (https://stackoverflow.com/questions/68776790/model-predict-classes-is-deprecated-what-to-use-instead)
nn_yhat_classes = np.argmax(nn_yhat_probs, axis=1)
# reduce prediction arrays to 1d arrays
nn_yhat_probs = nn_yhat_probs.flatten()
nn_yhat_classes = nn_yhat_classes.flatten()
print("Neural Network Classification Report:\n", classification_report(y_test_vec.flatten(), nn_yhat_classes))
# ROC AUC for Neural Network
nn_auc = roc_auc_score(y_test_vec.flatten(), nn_yhat_probs)
print('ROC AUC for Neural Network: %f' % nn_auc)
# Neural Network confusion matrix
nn_matrix = confusion_matrix(y_test_vec.flatten(), nn_yhat_classes)
print("Neural Network Confusion Matrix")
print(nn_matrix)

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.11/dist-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Logistic Regression Accuracy: 0.6701807228915663
Logistic Regression Classification Report:
               precision    recall  f1-score   support

     Dropout       0.75      0.63      0.68       441
    Enrolled       0.42      0.05      0.09       245
    Graduate       0.65      0.94      0.77       642

    accuracy                           0.67      1328
   macro avg       0.60      0.54      0.51      1328
weighted avg       0.64      0.67      0.61      1328

Random Forest Accuracy: 0.759789156626506
Random Forest Classification Report:
               precision    recall  f1-score   support

     Dropout       0.80      0.79      0.79       441
    Enrolled       0.54      0.29      0.37       245
    Graduate       0.77      0.92      0.84       642

    accuracy                           0.76      1328
   macro avg       0.71      0.66      0.67      1328
weighted avg       0.74      0.76      0.74      1328

/usr/local/lib/python3.11/dist-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Balanced Random Forest Accuracy: 0.7620481927710844
Balanced Random Forest Classification Report:
               precision    recall  f1-score   support

     Dropout       0.84      0.74      0.79       441
    Enrolled       0.49      0.57      0.53       245
    Graduate       0.83      0.85      0.84       642

    accuracy                           0.76      1328
   macro avg       0.72      0.72      0.72      1328
weighted avg       0.77      0.76      0.77      1328

/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBoost Accuracy: 0.7725903614457831
XGBoost Classification Report:
               precision    recall  f1-score   support

     Dropout       0.83      0.77      0.80       441
    Enrolled       0.58      0.43      0.49       245
    Graduate       0.79      0.91      0.84       642

    accuracy                           0.77      1328
   macro avg       0.73      0.70      0.71      1328
weighted avg       0.76      0.77      0.76      1328

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Neural Network Training Data Accuracy: 0.426, Neural Network Test Accuracy: 0.403

ValueError: Found input variables with inconsistent numbers of samples: [3984, 1328]